@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 3rem;
    font-family: 'Poppins',sans-serif;
}
:root{
    --bg-color:#2a2a2a;
    --second-bg-color:#202020;
    --text-color:#f9f6f2;
    --second-color:#454545;
    --main-color:#05b4ff;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
    --text-alter-color:#555D50;
}
body{
    background: var(--bg-color);
    color: var(--text-color); 

}
header{
    position: fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 35px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.navlist a:active{
    color:var(--main-color);
}
#menu-icon{
    font-size: 35px;
    color:var(--text-color);
    z-index: 1000;
    cursor: pointer;
    display: none;
    margin-left: 25px;
}
section{
    padding: 160px 15% 128px;
}
.home{
    position:relative;
    height:100vh;
    width:100%;
    background-image: url();
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contact{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:2.5rem;
}
.contact-text h2{
    font-size: var(--second-color);
    line-height: 1.8;
}
.contact-text h4{
    color:var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}
.contact-form p{
    color:var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}
.list{
    margin-bottom:2.8rem;
}
.list li{
    display:block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}


